body{
    background: hwb(87 63% 20% / 0.936)!important;
}

.page-item.active .page-link{
    background-color: #fdd835!important;
    border-color: #b71c1c;
}

.pagination {
    --bs-pagination-color: #6a1b9a;
}